@model Common.MSTt04_sucursal

@*@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MSTt04_sucursal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.descSucursal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descSucursal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descSucursal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numTelefonico01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numTelefonico01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numTelefonico01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numTelefonico02, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numTelefonico02, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numTelefonico02, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.obsvSucursal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.obsvSucursal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.obsvSucursal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.activo)
                    @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecRegistro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecRegistro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecModificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecModificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecEliminacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecEliminacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecEliminacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idUsuarioModificar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idUsuarioModificar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idUsuarioModificar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idUsuarioEliminar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idUsuarioEliminar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idUsuarioEliminar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoSucursal, "idTipoSucursal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoSucursal", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoSucursal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>



    <style>
        .borde1 {
            border: 1px #000 solid;
            text-align: center;
        }

        .borde {
            border: 1px #000fff solid;
        }

        .borde2 {
            border: 1px #295ba7 solid;
            text-align: center;
        }

        .action {
            float: right;
        }
    </style>
</head>
<body class="sidebar-mini fixed">



    <!--********************************TITULO*******************************-->

    <div class="page-title">
        <div>
            <h1><i class="fa fa-user"></i>Sucursal</h1>
            <p>Crear Sucursal ...!</p>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="index.html">Maestro</a></li>
                <li>Sucursal</li>
            </ul>
        </div>
    </div>
    <!--********************************FIN TITULO*******************************-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <!--CODIGO MODIFICAR-->
            <div class="col-lg-12">
                <div class="card col-lg-12">
                    <!--*********************************************AQUÍ MODIFICAR CARD***************************-->
                    <!--*********************************************CARD***************************-->
                    <!--****CITA****-->
                    <h3 class="card-title">Nuevo Sucursal</h3>

                    <div class="" id="tabs">
                        <div class="wrapper">
                            <div class="container">
                                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="card-content">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.descSucursal, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.descSucursal, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.descSucursal, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.numTelefonico01, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.numTelefonico01, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.numTelefonico01, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.numTelefonico02, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.numTelefonico02, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.numTelefonico02, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.obsvSucursal, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.obsvSucursal, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.obsvSucursal, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.activo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                            @Html.EditorFor(model => model.activo)
                                                            @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                                                    
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.fecRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.fecRegistro, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.fecRegistro, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.fecModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.fecModificacion, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.fecModificacion, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.fecEliminacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.fecEliminacion, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.fecEliminacion, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.idUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.idUsuarioModificar, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.idUsuarioModificar, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.idUsuarioModificar, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.idUsuarioEliminar, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.EditorFor(model => model.idUsuarioEliminar, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.idUsuarioEliminar, "", new { @class = "text-danger" })
                                                    
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.idTipoSucursal, "idTipoSucursal", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    
                                                        @Html.DropDownList("idTipoSucursal", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.idTipoSucursal, "", new { @class = "text-danger" })
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <div class="card">
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary icon-btn" type="submit">
                                        <i class="fa fa-fw fa-lg fa-check">
                                        </i>Registrar
                                    </button>&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-default icon-btn" href="@Url.Action("Index")">
                                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>
      (function($) {

      'use strict';

      $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function(e) {
        var $target = $(e.target);
        var $tabs = $target.closest('.nav-tabs-responsive');
        var $current = $target.closest('li');
        var $parent = $current.closest('li.dropdown');
        $current = $parent.length > 0 ? $parent : $current;
        var $next = $current.next();
        var $prev = $current.prev();
        var updateDropdownMenu = function($el, position){
          $el
            .find('.dropdown-menu')
            .removeClass('pull-xs-left pull-xs-center pull-xs-right')
            .addClass( 'pull-xs-' + position );
        };

        $tabs.find('>li').removeClass('next prev');
        $prev.addClass('prev');
        $next.addClass('next');

        updateDropdownMenu( $prev, 'left' );
        updateDropdownMenu( $current, 'center' );
        updateDropdownMenu( $next, 'right' );
      });

    })(jQuery);
    </script>
</body>
</html>
