@model IEnumerable<Common.RHUt04_especialidad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RHUt13_tipoEspecialidad.nombreEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abrvEspecialidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RHUt13_tipoEspecialidad.nombreEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abrvEspecialidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEspecialidad }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEspecialidad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEspecialidad })
        </td>
    </tr>
}

</table>
